li{font-family: Arial, Helvetica, sans-serif;
color: chocolate;
font-size: 17px;
background-color: khaki;
margin-top: auto;
margin-bottom: auto;
padding: 5px;
}

.lista{
    display: flex;
  flex-direction: column-reverse; /* alineacion de lista y en reversa */
  align-items: flex-end;
}

body{font-family: Arial, Helvetica, sans-serif;}

h1{text-align: center;}
h2{color: chocolate;}
h5{color: coral;}
.contenedor{    
background-color: blanchedalmond;
width: 95%;
margin-left: auto;
margin-bottom: auto;
padding: 15px;
margin-top: auto;
margin-right: auto;
}
.division{
    border: rgb(228, 158, 101) solid 2px;
}
#contenido{
    background-color: rgba(228, 194, 152, 0.938);
    border: rgb(184, 152, 110) solid 1px;
    display: flex;
    text-align: right;
    padding: 5px;
}
.segundaP{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{font-size: 14px;}
.Resumen{background-color: rgb(231, 173, 164);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80%;
    padding: 13px;
    border: rosybrown solid 2px;
}